body {
    margin: 0;
    text-align: center;
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 

}

.top {
    position: relative;
    padding: 100px 0 0 0;
    font-family: 'Comic Neue', cursive;
    background-color: #66bfbf;
    margin-top: 0;
    
  
    
}

h1 {
    font-size: 5.625rem;
    margin: 3.125rem auto 0 auto ;
    font-family: 'Cedarville Cursive', cursive;
    color: #11999e;
    line-height: 2;

}

h2{
    font-size: 2.5rem;
    color: #11999e;

}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

.profile{
    margin-top: 100px;
}


.mid, .bottom {
 
    font-family: 'Comic Neue', cursive;
}

.web{
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    left: 60%;
    bottom: 85%;
}

.bottom-cloud {
    position: absolute;
}

.other-pics {
    width: 197px;
    height: 197px;
}


.webdev{
    font-weight: normal;
}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.first-pic {
    float: left;
    margin-right: 30px;
}

.second-pic {
    float: right;
    margin-left: 30px;
}

hr{
    border-style: dotted none none;
    border-color: gray;
    border-width: 5px;
    width: 5%;
}

.bottom-container {
    background-color: #66bfbf;

}

.copyright{
    color: white;
    margin-bottom: 0;
}

.btn {
    background-color: #66bfbf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;

  }

  .contact-me{
      margin-bottom: 50px;
  }

  .introtext{
      width: 50%;
      margin: auto;
      padding-bottom: 30px;
  }
/* .para {
    clear: left;
}

.para2 {
    clear: right;
} */